/*Reset de css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap:50px;
    background-color: #212121;
}

body{
    background-color: #212121;
}

.LogoNeat{
    width: 300px;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 48px;
    margin-bottom: 24px;
}

.menuItem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 24px;
    color: floralwhite;

}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 52px;
    background-color: #25242c;
    color: floralwhite;
}

.vitrine{
    display: flex;
    background-color: #25242c;
    color: floralwhite;
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 150px;
}

.imagemDaCamiseta1{
    margin-top: 24px;
    width: 350px;
    box-shadow: 3px 3px 5px #131313;
}

.imagemDaCamiseta2{
    margin-top: 24px;
    width: 350px;
    box-shadow: 3px 3px 5px #131313;
}

.nomeCamiseta1{
    padding-top: 24px;
    padding-bottom: 24px;
}

.nomeCamiseta2{
    padding-top: 24px;
    padding-bottom: 24px;
}

.SobreNos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    background-color: #25242c;
    color: floralwhite;
}

.titulo-sobreNos{
    display: flex;
    padding: 48px;
    font-size: xx-large;
}

.p1{
    display: flex;
    width: 50%;
    padding: 10px;
    line-height: 1.875em;
    text-align: center;
    font-size: 18px;
}

.imagemMontada{
    width: 100%;
}

.Contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    background-color: #25242c;
    color: floralwhite;
    font-size: 40px;
}

.formcontrol{
    width: 50%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    outline: none;
    padding-bottom: 24px;
}

.box{
    width: 50%;
    padding: 50px;
    background: none;
    color: #ddd;
}

.btEnviar{
    background-color: #414141;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 24px;
  }
  
input[type=submit]:hover {
    background-color: #303030;
  }

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: floralwhite;
}

.perguntasFrequentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    background-color: #25242c;
    color: floralwhite;
}

.titlePF{
    margin-bottom: 75px;
    font-size: 38px;
}

.row1{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
}

.row2{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
}

.pergunta4{
padding-left: 40%;
}

.pergunta2{
padding-left: 25%;
}

.resposta{
    width: 100%;
}

.neatImage{
    width: 100%
}